@import "../sass/index.scss";

@font-face {
  font-family: BaronNeue;
  src: url("../images/BaronNeue.otf") format("opentype");
}

.hero {
  background-image: url("../images/torre-de-control-aicm-10.jpg") !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100vh;

  .text {
    padding: 12% 0 !important;
    max-width: 1140px;

    a {
      z-index: 10;

      background-color: rgba(255, 255, 255, 0.3);

      &:hover {
        text-decoration-line: none !important;
      }

      h1 {
        font-family: "BaronNeue";
        letter-spacing: 5px;
        font-size: 5.5rem;
        text-align: center;
        color: white;
        text-shadow: 3px 3px 6px rgb(0, 0, 0);
        font-weight: 600;
        padding-bottom: 1rem;
        transition: 0.3s;

        &:hover {
          color: #22be34;
          text-shadow: 3px 3px 6px rgb(0, 0, 0);
        }

        @media (max-width: $breakpoint-up-sm) {
          font-size: 2.5rem;
          letter-spacing: 3px;
          &:hover {
            font-size: 3rem !important;
          }
        }
      }
      h3 {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-weight: 500;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.5);

        @media (max-width: $breakpoint-up-sm) {
          font-size: 1rem;
        }
      }
    }
    .main-button {
      font-size: 1.2rem;
      transition: 0.3s;
    }

    @media (max-width: $breakpoint-up-sm) {
      padding: 70% 0 !important;
    }
  }
}
